@import '../../styles/vars';


.title{
    margin-bottom: 20px;
    text-align: center;
}

.table_container{
    border-collapse: collapse;
    padding: 10px;

    color: $bgColorSecond;
    border-radius: 5px;
    background-color: $colorWhite;
}

.head_line{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.head_block{
    background-color: $bgColorFour;
    padding: 7px 8px;
}

.body_block{
    padding: 7px 0px;
    text-align: center;
    font-weight: 600;

}