@import '../../styles/vars';

.container{
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    border-radius: 10px;
    background-color: $colorWhite;
}

.title{
    margin-bottom: 25px;
    text-align: center;
    color: $bgColorSecond;
}

.start_event_btn{
    padding: 10px;

    background-color: $bgColorSecond;
}

.disablet_btn{
    background-color: rgba($color: $bgColorSecond, $alpha: 0.3);
    color: rgba($color: white, $alpha: 0.3);
    cursor: auto;

    &:hover{
        background-color: rgba($color: $bgColorSecond, $alpha: 0.3);
        color: rgba($color: white, $alpha: 0.3);
    }
}