@import '../../styles/mixin';
@import '../../styles/vars';

.container{
    padding: 20px;
    border-radius: 10px;
    background-color: $colorWhite;

    box-shadow: $boxShadowOne;
}

.title{
    margin-bottom: 20px;
    
}

.users_list{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

    .item{
        width: calc((100% - 2 * 24px) / 3);
        min-width: 200px;

        display: flex;
        flex-direction: column;
        gap: 6px;

        background-color: $colorOne;
        padding: 10px;
        border-radius: 10px;
        
        .current_text{
            display: inline-block;

            padding: 4px 7px;
            border-radius: 5px;

            min-width: 20px;

            background-color: $TextcolorMain;
            color: $colorWhite;

            text-align: center;
        }
    }


    @include mobile{
        flex-direction: column;
    }
}