@import '../../styles/mixin';
@import '../../styles/vars';

.container{
    padding: 20px;
    border-radius: 10px;
    background-color: $colorWhite;
}

.title{
    margin-bottom: 3px;
    color: $bgColorSecond;

    text-align: center;
}

.users_list{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

    .item{
        width: calc((100% - 2 * 24px) / 3);
        min-width: 200px;

        display: flex;
        flex-direction: column;
        gap: 6px;

        background-color: $bgColorSecond;
        padding: 10px;
        border-radius: 10px;

        @include mobile{
            width: 100%;
        }
        
        .current_text{
            display: inline-block;

            padding: 4px 7px;
            border-radius: 5px;

            min-width: 20px;
            font-weight: 600;

            background-color: $colorWhite;
            color: $bgColorSecond;

            text-align: center;
        }
    }


    @include mobile{
        flex-direction: column;
    }
}