$bgColor: #1B2E3E;
$bgColorSecond: #3E5871;
$bgcolorTherd: #D9D9DA;
$bgColorFour: #C4C4C5;
$bgColorFifth: #ECECEC;
$bgColorSix: #4A6885;
$colorGreen: #60CE74;
$colorRed: #DD2B1C;
$colorWhite: #FFFFFF;