$mainBackgroundColor: #E6E9EF;

$colorOne: #E6E9EF;
$TextcolorMain: #6A7B88;
$colorWhite: #FFFFFF;
$colorWgiteSecond: #F2F4F7;
$colorGreenIconSVG: #0DC657;
$bgColorAuth: #c5d6de;
$colorThree: rgba(106,123,136,0.5);
$colorIconSVG: rgba(106,123,136,0.8);
$colorFocused: rgba(172,222,231,0.6);
$colorSelected: rgba(170,212,200,0.3);
$colorBGAddInDisc: rgba(1, 15, 26, 0.56);
$colorFocusBtn: #6a7b8838;
$colorUserInComment: rgb(56, 119, 184);
$colorDateBG: #2fc6f6;
$colorCheckedDisc: rgba($color: #AAD4C8, $alpha: 0.3);

$boxShadowOne: -5px -5px 15px 0px rgba(255,255,255,0.6), 5px 5px 15px 0px rgba(22,27,29,0.23);